@model LetsSport.Web.ViewModels.Events.EventDetailsViewModel
@inject LetsSport.Services.Data.IEventsService EventsService
@inject Microsoft.Extensions.Configuration.IConfiguration Configurator

@{
    ViewData["Title"] = "Details";
    var username = User.Identity.Name;
    var imagePathPrefix = string.Format("https://res.cloudinary.com/{0}/image/upload/", Configurator["Cloudinary:ApiName"]);

}

<h2>
    @Model.Name
    @if (this.User.Identity.IsAuthenticated)
    {
        <span>game orginezed by: <a href="/users/details/@Model.AdminId">@Model.AdminUserName</a></span>
    }
</h2>
<hr />
<div class="row justify-content-center m-3">
    <div class="card-deck mt-3 mb-3">
        <div class="card col-md-6">
            <div class="card-body text-center">
                <div class="row align-items-md-start">
                    <h5 class="col-sm-12 card-header">Name: @Model.Name</h5>
                    <h5 style="text-align:left" class="col-sm-12 pt-4">Arena: <a href="/arenas/details/@Model.ArenaId">@Model.ArenaName</a></h5>
                    <h5 style="text-align:left" class="col-sm-12">Date: @Model.Date.ToString("dd-MMM-yyyy") at @Model.StartingHour.ToString("HH:MM")</h5>
                    <br />
                    <br />
                    <h5 style="text-align:left" class="col-sm-6">Gender: @Model.Gender</h5>
                    <h5 style="text-align:left" class="col-sm-6">Game Format: @Model.GameFormat</h5>
                    <h5 style="text-align:left" class="col-sm-6">Duration: @Model.DurationInHours</h5>
                    <h5 style="text-align:left" class="col-sm-6">Total Price: @Model.TotalPrice</h5>
                    <h5 style="text-align:left" class="col-sm-6">Minimum Players: @Model.MinPlayers</h5>
                    <h5 style="text-align:left" class="col-sm-6">Maximum Players: @Model.MaxPlayers</h5>
                    <h5 style="text-align:left" class="col-sm-6">Empty Spots: @Model.EmptySpotsLeft</h5>
                    <br />
                    <br />
                    <h5 style="text-align:left ; color:green" class="col-sm-6">Status: @Model.Status</h5>
                    <h5 style="text-align:left ; color: red" class="col-sm-12">Deadline for request: @Model.DeadLineToSendRequest</h5>
                    <h5 style="text-align:left" class="col-sm-12">Need @Model.NeededPlayersForConfirmation more players for confirmation</h5>
                    <h5 style="text-align:left" class="col-sm-12">Additional Information: @Model.AdditionalInfo</h5>
                    @*<h5>Arena Status: @Model.RequestStatus</h5>*@
                </div>
            </div>
            <div class="mb-2" style="text-align:center">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (username == Model.AdminUserName)
                    {
                        <a class="btn btn-warning m-1" asp-action="Edit" asp-controller="Events" asp-route-id="@Model.Id">Edit</a>
                    }
                    else
                    {
                        if (!EventsService.IsUserJoined(username, Model.Id))
                        {
                            <a class="btn btn-warning m-1" asp-controller="events" asp-action="adduser" asp-route-id="@Model.Id">Join Event</a>
                        }
                        else
                        {
                            <a class="btn btn-warning m-1" asp-controller="events" asp-action="removeuser" asp-route-id="@Model.Id">Leave Event</a>
                        }
                    }
                }
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Back to List</a>
            </div>
        </div>

        @if (this.User.Identity.IsAuthenticated && EventsService.IsUserJoined(username, Model.Id))
        {
            <div class="card col-md-6 chat-card h-100 p-0">
                <div class="chat-card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="@Model.SportImage" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>Chat Room</span>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body">
                    @foreach (var message in @Model.ChatRoomMessages)
                    {
                        if (message.SenderUserName == username)
                        {
                            <div class="d-flex justify-content-start mb-3">
                                <div class="img_cont_msg">
                                    <img src="@imagePathPrefix@message.SenderAvatarUrl" class="rounded-circle user_img_msg">
                                    <div class="img_cont_msg">@message.SenderUserName</div>
                                </div>
                                <div class="msg_cotainer">
                                    @message.Content
                                    <span class="msg_time" style="display: block">@message.CreatedOn</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-end mb-3">
                                <div class="msg_cotainer_send">
                                    @message.Content
                                    <span class="msg_time_send" style="display: block">@message.CreatedOn</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="@imagePathPrefix@message.SenderAvatarUrl" class="rounded-circle user_img_msg">
                                    <div class="img_cont_msg">@message.SenderUserName</div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <form asp-controller="Events" asp-action="Details">
                    <div class="input-group-append">
                        <textarea id="inputMessage" asp-for="@Model.MessageContent" class="form-control type_msg" placeholder="Typing as @username..."></textarea>
                        <input type="submit" value="Send" id="sendBtn" class="input-group-text send_btn" asp-route-id="@Model.Id" onclick="ignoreEmpty();" />
                    </div>
                </form>
            </div>
        }
    </div>
    @if (this.User.Identity.IsAuthenticated && EventsService.IsUserJoined(username, Model.Id))
    {
        <div>
            <h4><span class="nav navbar navbar-left d-flex d-inline-flex ">Players joined: </span></h4>
            <ul class="nav navbar navbar-left d-flex d-inline-flex ">
                @foreach (var player in Model.ChatRoomUsers)
                {
                    <li class="nav-item d-inline-flex  align-items-center mr-2"><a class="user-link" href="/users/details/@player.UserId"><h5>@player.UserUserName</h5></a></li>
                }
            </ul>
        </div>
    }

</div>
<script>
    var input = document.getElementById("inputMessage");

    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("sendBtn").click();
        }
    });
</script>