@model LetsSport.Web.ViewModels.Events.EventDetailsViewModel
@inject LetsSport.Services.Data.IEventsService EventsService
@{
    ViewData["Title"] = "Details";
    var username = User.Identity.Name;
}

<h2>
    <span class="display-4">@Model.Name</span>
    @if (this.User.Identity.IsAuthenticated)
    {
        <span class="h5"> orginezed by: <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.AdminId">@(Model.AdminUserName)(@Model.AdminScore)</a></span>
    }
</h2>
<hr />
<div class="row justify-content-center m-3">
    <div class="card-deck m-3">
        <div class="card col-md-6" style="min-width:30rem;">
            <div class="card-body text-center">
                <div class="align-items-md-center">
                    <div>
                        <a class="h4 mt-2" asp-controller="Arenas" asp-action="Details" asp-route-id="@Model.ArenaId">@Model.ArenaName</a>
                    </div>
                    <div class="h5">
                        <span class="h5">@Model.Date.ToString(GlobalConstants.DefaultDateFormat) at @Model.StartingHour.ToString(GlobalConstants.DefaultTimeFormat)</span>
                    </div>
                    <hr>
                    <div>
                        <label asp-for="@Model.Gender"></label>
                        <span class="h5">@Model.Gender</span>
                    </div>
                    <div>
                        <label asp-for="@Model.GameFormat"></label>
                        <span class="h5">@Model.GameFormat</span>
                    </div>
                    <div>
                        <label asp-for="@Model.DurationInHours"></label>
                        <span class="h5">@Model.DurationInHours</span>
                    </div>
                    <div>
                        <label asp-for="@Model.TotalPrice"></label>
                        <span class="h5">@Model.TotalPrice.ToString("F2")</span>
                    </div>
                    <div>
                        <label asp-for="@Model.MinPlayers"></label>
                        <span class="h5">@Model.MinPlayers</span>
                    </div>
                    <div>
                        <label asp-for="@Model.MaxPlayers"></label>
                        <span class="h5">@Model.MaxPlayers</span>
                    </div>
                    <div>
                        <label asp-for="@Model.EmptySpotsLeft"></label>
                        <span class="h5">@Model.EmptySpotsLeft</span>
                    </div>
                    <div>
                        <label asp-for="@Model.Status"></label>
                        <span class="h5">@Model.Status</span>
                    </div>
                    <div>
                        <label asp-for="@Model.DeadLineToSendRequest"></label>
                        <span class="h5">@Model.DeadLineToSendRequest</span>
                    </div>
                    <div>
                        <label asp-for="@Model.RequestStatus"></label>
                        <span class="h5">@Model.RequestStatus</span>
                    </div>
                    <div>
                        <label asp-for="@Model.AdditionalInfo"></label>
                        <span class="h5">@Model.AdditionalInfo</span>
                    </div>
                </div>
            </div>
            <div class="mb-2" style="text-align:center">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (username == Model.AdminUserName)
                    {
                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id">Edit Event</a>

                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="Cancel" asp-route-id="@Model.Id">Cancel Event</a>

                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="Invite" asp-route-id="@Model.Id">Invite Players</a>

                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="SendRequest" asp-route-id="@Model.Id">Send Request</a>
                    }
                    else
                    {
                        if (!EventsService.IsUserJoined(username, Model.Id))
                        {
                            <a class="btn btn-warning m-1" asp-controller="Events" asp-action="AddUser" asp-route-id="@Model.Id">Join Event</a>
                        }
                        else
                        {
                            <a class="btn btn-warning m-1" asp-controller="Events" asp-action="RemoveUser" asp-route-id="@Model.Id">Leave Event</a>
                        }
                    }
                }
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Back to List</a>
            </div>
        </div>
        @*TODO Extract to Partial View*@
        @if (this.User.Identity.IsAuthenticated && EventsService.IsUserJoined(username, Model.Id))
        {
            <div class="card col-md-6 chat-card h-100 p-0" style="min-width:30rem;">
                <div class="chat-card-header msg_head mt-0">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="@Model.SportImage" asp-append-version="true" class="rounded-circle user_img" alt="@Model.Sport">
                        </div>
                        <div class="user_info">
                            <span class="h5">Chat Room</span>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body">

                    @foreach (var message in @Model.ChatRoomMessages)
                    {
                        if (message.SenderUserName == username)
                        {
                            <div class="d-flex justify-content-start mb-3">
                                <div class="img_cont_msg">
                                    <img src="@message.SenderAvatarUrl" asp-append-version="true" class="rounded-circle user_img_msg" alt="User Avatar">
                                    <div class="img_cont_msg">@message.SenderUserName</div>
                                </div>
                                <div class="msg_cotainer">
                                    @message.Content
                                    <span class="msg_time" style="display: block">@message.CreatedOn.ToString(GlobalConstants.DefaultDateTimeFormat)</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-end mb-3">
                                <div class="msg_cotainer_send">
                                    @message.Content
                                    <span class="msg_time_send" style="display: block">@message.CreatedOn.ToString(GlobalConstants.DefaultDateTimeFormat)</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="@message.SenderAvatarUrl" asp-append-version="true" class="rounded-circle user_img_msg" alt="User Avatar">
                                    <div class="img_cont_msg">@message.SenderUserName</div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <form asp-controller="Events" asp-action="Details" enctype="multipart/form-data" method="post">
                    <div class="input-group-append">
                        <textarea id="inputMessage" asp-for="@Model.MessageContent" class="form-control type_msg" placeholder="Typing as @username..."></textarea>
                        <input type="submit" id="sendBtn" class="input-group-text send_btn" asp-route-id="@Model.Id" value="Send" onclick="ignoreEmpty();" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>

@*TODO Extract to Partial View*@
@if (this.User.Identity.IsAuthenticated && EventsService.IsUserJoined(username, Model.Id))
{
    <div>
        <h4><span class="nav navbar navbar-left d-flex d-inline-flex ">Players joined: </span></h4>
        <ul class="justify-content-start">
            @foreach (var player in Model.ChatRoomUsers)
            {
                <li class="nav-item d-inline-flex  align-items-center mr-2"><a class="user-link" asp-controller="Users" asp-action="Details" asp-route-id="@player.UserId"><span class="h5">@(player.UserUserName)(@player.UserScore)</span></a></li>
            }
        </ul>
    </div>
}

<script>
    var input = document.getElementById("inputMessage");

    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("sendBtn").click();
        }
    });
</script>
