@model LetsSport.Web.ViewModels.Events.EventDetailsViewModel
@using LetsSport.Data.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@inject LetsSport.Services.Data.IEventsService EventsService
@{
    ViewData["Title"] = "Details";
    ViewData["Description"] = $"Full information about {Model.SportName} event {Model.Name} in {Model.ArenaName} on {Model.Date}";
    ViewData["Keywords"] = "";

    var userId = UserManager.GetUserId(this.User);
}

<h3>
    <span class="display-4">@Model.Name</span>
    @if (this.User.Identity.IsAuthenticated)
    {
        <span class="h5"> orginezed by: <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.AdminId">@(Model.AdminUserName)(@Model.AdminScore)</a></span>
    }
</h3>
<hr />

<partial name="_ConfirmationMessagePartial" />

<div class="row justify-content-center m-3">
    <div class="card-deck m-3">
        <div class="card col-md-6" style="min-width:30rem;">
            <div class="card-body text-center">
                <div class="align-items-md-center">
                    <div>
                        <span class="h5">@Model.SportName at </span>
                        <a class="h4 mt-2" asp-controller="Arenas" asp-action="Details" asp-route-id="@Model.ArenaId">@Model.ArenaName</a>
                    </div>
                    <div class="h5">
                        <span class="h5">@Model.Date.ToString(GlobalConstants.DefaultDateFormat) at @Model.StartingHour.ToString(GlobalConstants.DefaultTimeFormat)</span>
                    </div>
                    <hr>
                    <div>
                        <label asp-for="@Model.Gender"></label>
                        <span class="h5">@Model.Gender</span>
                    </div>
                    <div>
                        <label asp-for="@Model.GameFormat"></label>
                        <span class="h5">@Model.GameFormat</span>
                    </div>
                    <div>
                        <label asp-for="@Model.DurationInHours"></label>
                        <span class="h5">@Model.DurationInHours</span>
                    </div>
                    <div>
                        <label asp-for="@Model.TotalPrice"></label>
                        <span class="h5">@Model.TotalPrice.ToString("F2")</span>
                    </div>
                    <div>
                        <label asp-for="@Model.MinPlayers"></label>
                        <span class="h5">@Model.MinPlayers</span>
                    </div>
                    <div>
                        <label asp-for="@Model.MaxPlayers"></label>
                        <span class="h5">@Model.MaxPlayers</span>
                    </div>
                    <div>
                        <label asp-for="@Model.EmptySpotsLeft"></label>
                        <span class="h5">@Model.EmptySpotsLeft</span>
                    </div>
                    <div>
                        <label asp-for="@Model.Status"></label>
                        <span class="h5">@Model.Status</span>
                    </div>
                    <div>
                        <label asp-for="@Model.DeadLineToSendRequest"></label>
                        <span class="h5">@Model.DeadLineToSendRequest</span>
                    </div>
                    <div>
                        <label asp-for="@Model.RequestStatus"></label>
                        <span class="h5">@Model.RequestStatus</span>
                    </div>
                    <div>
                        <label asp-for="@Model.AdditionalInfo"></label>
                        <span class="h5">@Model.AdditionalInfo</span>
                    </div>
                </div>
            </div>
            <div class="mb-2" style="text-align:center">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (userId == Model.AdminId)
                    {
                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id">Edit Event</a>

                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="Cancel" asp-route-id="@Model.Id">Cancel Event</a>

                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="Invite" asp-route-id="@Model.Id">Invite Players</a>

                        <a class="btn btn-warning m-2" asp-controller="Events" asp-action="SendRequest" asp-route-id="@Model.Id">Send Request</a>
                    }
                    else
                    {
                        if (!EventsService.IsUserJoined(userId, Model.Id))
                        {
                            <a class="btn btn-warning m-1" asp-controller="Events" asp-action="AddUser" asp-route-id="@Model.Id">Join Event</a>
                        }
                        else
                        {
                            <a class="btn btn-warning m-1" asp-controller="Events" asp-action="RemoveUser" asp-route-id="@Model.Id">Leave Event</a>
                        }
                    }
                }
                <a class="btn btn-warning" asp-controller="Events" asp-action="Index">Back to List</a>
            </div>
        </div>
        @if (this.User.Identity.IsAuthenticated && EventsService.IsUserJoined(userId, Model.Id))
        {
            <vc:chat-room user-id=@Model.AdminId event-id=@Model.Id sport-name=@Model.SportName></vc:chat-room>
        }
        else
        {
            <div class="card col-md-6" style="min-width:30rem;">
                <div class="card-body text-center">
                    <img style="border-radius:0.3rem;" src="@Model.SportImage" alt="@Model.SportName">
                </div>
            </div>
        }
    </div>
</div>

@if (this.User.Identity.IsAuthenticated && EventsService.IsUserJoined(userId, Model.Id))
{
    <div>
        <h4><span class="nav navbar navbar-left d-flex d-inline-flex ">Players joined: </span></h4>
        <ul class="justify-content-start">
            @foreach (var player in Model.ChatRoomUsers)
            {
                <li class="nav-item d-inline-flex  align-items-center mr-2"><a class="user-link" asp-controller="Users" asp-action="Details" asp-route-id="@player.UserId"><span class="h5">@(player.UserUserName)(@player.UserScore)</span></a></li>
            }
        </ul>
    </div>
}

@section Scripts
{
    <script>
    var input = document.getElementById("inputMessage");

    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("sendBtn").click();
        }
    });
    </script>
}
