@model LetsSport.Web.ViewModels.Arenas.ArenaCardPartialViewModel

<div class="card m-2 box-shadow" style="min-width: 14rem; max-width: 23%;">
    <div class="card-header">
        <a asp-controller="Arenas" asp-action="Details" asp-route-id="@Model.Id"><h5>@Model.Name</h5></a>
        <h5>@Model.SportName</h5>
        <p class="m-0">@Model.AddressStreetAddress</p>
        <label class="m-0" asp-for="@Model.PricePerHour"></label>
        <span>@Model.PricePerHour.ToString("F2")</span>
        <label asp-for="@Model.EventsCount"></label>
        <span>@Model.EventsCount</span>
        <hr />
        <a asp-controller="Arenas" asp-action="Details" asp-route-id="@Model.Id">
            <img class="card-img-top" src="@Model.MainImageUrl" alt="@Model.Name" />
        </a>
    </div>
</div>