@model LetsSport.Web.ViewModels.Arenas.ArenaDetailsViewModel

@{
    ViewData["Title"] = "Arena Details";
}

<h2>@Model.Name Details</h2>

<hr />

<div class="row justify-content-center">
    <div class="card-deck col-7">
        <div class="card">
            <div class="card-body text-center">
                <h5>Rating : @Model.Rating</h5>
                <hr />
                <img class="card-img-top mb-3" src="@Model.MainImageUrl" asp-append-version="true" style="min-width: 12rem; max-width: 24rem;" />
                <div class="container">
                    <div class="row mb-3">
                        @if (this.User.Identity.IsAuthenticated && this.Model.ArenaAdminId == this.Model.LoggedUserId)
                        {
                            <div class="col-sm">
                                <div class="custom-file">
                                    <input id="uploadBox" asp-for="NewMainImage" class="form-control custom-file-input">
                                    <label style="text-align:left" class="custom-file-label">Choose File...</label>
                                </div>
                            </div>
                            <div class="col-sm p-0">
                                <input id="changeBtn" type="submit" asp-action="ChangeMainImage" asp-route-id="@Model.Id" class="btn btn-warning" value="Change Picture" />
                            </div>

                            <div class="col-sm p-0">
                                <input type="submit" asp-action="DeleteMainImage" asp-route-id="@Model.Id" class="btn btn-warning" value="Delete Picture" />
                            </div>
                        }
                    </div>
                    <div class="m-1">
                        <h5>@Model.Address</h5>
                        <h5><i class="fas fa-desktop pr-1"></i><a class="mr-2" href="https://@Model.WebUrl">@Model.WebUrl</a><i class="fas fa-phone-volume pr-1"></i><span>@Model.PhoneNumber</span></h5>
                        <h5>Sport: @Model.SportName, Price per Hour: @Model.PricePerHour</h5>
                        @*<h4>Description : @Model.Description</h4>*@
                        @*<h4>Email : @Model.Email</h4>*@
                    </div>
                    <div class="m-2">
                        @foreach (var imgPath in Model.Pictures)
                        {
                            <img src="@imgPath" asp-append-version="true" style="min-width: 10rem; max-width: 15rem; padding-bottom: 0.5rem" />
                        }
                    </div>
                    @if (this.User.Identity.IsAuthenticated && this.Model.ArenaAdminId == this.Model.LoggedUserId)
                    {
                        <div class="col-sm mb-2">
                            <input type="submit" asp-action="EditImages" asp-route-id="@Model.Id" class="btn btn-warning" value="Edit Pictures" />
                        </div>
                    }
                </div>
                <div class="card-footer text-center">
                    @if (this.User.Identity.IsAuthenticated && this.Model.ArenaAdminId == this.Model.LoggedUserId)
                    {
                        <a class="btn btn-warning" asp-controller="arenas" asp-action="Edit" asp-route-id="@Model.Id">Edit Info</a>
                    }
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    @if (this.User.Identity.IsAuthenticated && this.Model.ArenaAdminId == this.Model.LoggedUserId)
    {
        <div class="card-deck col-5">
            <div class="card">
                <div class="card-body text-center">
                    <h5>Upcomming Events</h5>
                    <hr />

                    <h5>Today</h5>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> Approved <span><a href="#">Details</a></span></h6>
                    </div>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> Approved <span><a href="#">Details</a></span></h6>
                    </div>
                    <hr>
                    <h5>Approved</h5>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> Approved <span><a href="#">Details</a></span></h6>
                    </div>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> Approved <span><a href="#">Details</a></span></h6>
                    </div>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> Approved <span><a href="#">Details</a></span></h6>
                    </div>
                    <hr>
                    <h5>Not Approved</h5>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> NotApproved <span><a href="#">Details</a></span></h6>
                    </div>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> NotApproved <span><a href="#">Details</a></span></h6>
                    </div>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> NotApproved <span><a href="#">Details</a></span></h6>
                    </div>
                    <div style="border: 1px solid black; border-radius: 5px;" class="mb-2">
                        <h6>Basketball - 23-Mar-2020 12:00 - 14:00</h6>
                        <h6> NotApproved <span><a href="#">Details</a></span></h6>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

