@model LetsSport.Web.ViewModels.Arenas.ArenaDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">@Model.Name Details</h2>
<hr />
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body text-center">
                <h5>Rating : @Model.Rating</h5>
                <img class="card-img-top" src="@Model.MainImageUrl" asp-append-version="true" style="min-width: 18rem; max-width: 24rem;" />
                <div class="m-1">
                    @*<h4>Arena Name: @Model.Name</h4>*@
                    <h5>@Model.Address</h5>
                    <h5><i class="fas fa-desktop pr-1"></i><a class="mr-2" href="https://@Model.WebUrl">@Model.WebUrl</a><i class="fas fa-phone-volume pr-1"></i><span>@Model.PhoneNumber</span></h5>
                    <h5>Sport: @Model.SportName, Price per Hour: @Model.PricePerHour</h5>
                    <h5></h5>
                    @*<h4>Description : @Model.Description</h4>*@
                </div>
                <div class="m-2">
                    @foreach (var imgPath in Model.Pictures)
                    {
                        <img src="@imgPath" asp-append-version="true" style="min-width: 10rem; max-width: 15rem; padding-bottom: 0.5rem" />
                    }
                </div>
            </div>
            <div class="card-footer text-center">
                @if (this.User.Identity.IsAuthenticated && this.Model.ArenaAdminId == this.Model.LoggedUserId)
                {
                    <a class="btn btn-warning" asp-controller="arenas" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                }
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

