@model LetsSport.Web.ViewModels.Arenas.ArenaDetailsViewModel

@{
    ViewData["Title"] = "Arena Details";
}

<h3 class="display-4">@Model.Name Details</h3>
<hr />

<div class="row justify-content-center">
    <div class="card-deck col-8">
        <div class="card info-card">
            <div class="card-body text-center">
                <h5>Rating : @Model.EventsCount</h5>
                <hr />
                <img class="card-main-img card-img-top mb-3" src="@Model.MainImageUrl" asp-append-version="true" alt="@Model.Name" />
                <div class="container-md-md row mb-3 ml-0 mr-0 justify-content-center">
                    <div class="container-md-md ml-0 mr-0">
                        <div class="m-1">
                            <h5>@Model.Address</h5>
                            <h5>Email: @Model.Email</h5>
                            <h5><i class="fas fa-desktop pr-1"></i><a href="https://@Model.WebUrl">@Model.WebUrl </a><i class="fas fa-phone-volume pr-1"></i><span>@Model.PhoneNumber</span></h5>
                            <h5>Sport: @Model.SportName, Price/Hour: @Model.PricePerHour.ToString("F2")</h5>
                            <h5>Description: @Model.Description</h5>
                            <h5>Status: @Model.Status</h5>
                        </div>
                        <div class="m-2">
                            @foreach (var imgPath in Model.Pictures)
                            {
                                <img class="card-other-image" src="@imgPath" asp-append-version="true" alt="@Model.Name" />
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-warning mr-2" asp-controller="Arenas" asp-action="Index">Back to List</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

