@model LetsSport.Web.ViewModels.Arenas.ArenaDetailsViewModel

@{
    ViewData["Title"] = "Arena Details";
}

<h2 class="display-4">@Model.Name Details</h2>

<hr />

<div class="row justify-content-center">
    <div class="card-deck col-8">
        <div class="card">
            <div class="card-body text-center">
                <h5>Rating : @Model.EventsCount</h5>
                <hr />
                <img class="card-img-top mb-3" src="@Model.MainImageUrl" asp-append-version="true" style="min-width: 12rem; max-width: 24rem;" alt="@Model.Name" />
                <div class="container-md-md row mb-3 ml-0 mr-0">
                    <div class="container-md-md row ml-0 mr-0 justify-content-center">
                        <div class="m-1">
                            <h5>@Model.Address</h5>
                            <h5><i class="fas fa-desktop pr-1"></i><a href="https://@Model.WebUrl">@Model.WebUrl</a><i class="fas fa-phone-volume pr-1"></i><span>@Model.PhoneNumber</span></h5>
                            <h5>Sport: @Model.SportName, Price per Hour: @Model.PricePerHour</h5>
                            <h5>@Model.Status</h5>

                            @*<h4>Description : @Model.Description</h4>*@
                            @*<h4>Email : @Model.Email</h4>*@
                        </div>
                        <div class="m-2">
                            @foreach (var imgPath in Model.Pictures)
                            {
                                <img src="@imgPath" asp-append-version="true" style="min-width: 10rem; max-width: 15rem; padding-bottom: 0.5rem" alt="@Model.Name" />
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-warning" asp-controller="Arenas" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

