@model LetsSport.Web.ViewModels.Arenas.ArenaEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportType" class="control-label">Choose Sport</label>
                <select asp-for="SportType" asp-items="Html.GetEnumSelectList<LetsSport.Data.Models.EventModels.SportType>()" class="form-control">
                    <option value="">@Model.SportType</option>
                </select>
                <span asp-validation-for="SportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerHour" class="control-label"></label>
                <input asp-for="PricePerHour" class="form-control" />
                <span asp-validation-for="PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebUrl" class="control-label"></label>
                <input asp-for="WebUrl" class="form-control" />
                <span asp-validation-for="WebUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Location: <strong>@Model.City, @Model.Country</strong></p>
                <label asp-for="StreetAddress" class="control-label"></label>
                <textarea rows="3" asp-for="StreetAddress" class="form-control"></textarea>
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" asp-controller="arenas" asp-action="edit" type="submit" value="Update" formmethod="post" />
                <a class="btn btn-warning" asp-controller="arenas" asp-action="details" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
