@model LetsSport.Web.ViewModels.Arenas.ArenaEventsViewModel

@{
    ViewData["Title"] = "Arena Events";
}

<partial name="_ConfirmationMessagePartial" />

    <div class="flex-container">
        <div >
            <h3 class="display-4">Today's</h3>
            <hr />

            @foreach (var ev in Model.TodaysEvents)
            {
        <div class="rounded color bg-warning mb-2 p-1">
                <div class="m-1">
                    <h6>@ev.Name</h6>
                    <h6>@ev.Date.ToString(GlobalConstants.DefaultDateFormat) @ev.StartingHour.ToString(GlobalConstants.DefaultTimeFormat) - @ev.EndingHour.ToString(GlobalConstants.DefaultTimeFormat)</h6>
                    <h6>
                        @ev.ArenaRentalRequestStatus
                        <span><a asp-controller="ArenaRequests" asp-action="ChangeStatus" asp-route-id="@ev.ArenaRentalRequestId" class="btn-sm btn-warning">Details</a></span>
                    </h6>
                </div>
            </div>
            }
        </div>
        <div >
            <h3 class="display-4">Approved</h3>
            <hr />
            @foreach (var ev in Model.ApprovedEvents)
            {
                <div class="rounded color bg-success text-white mb-2 p-1">
                        <div class="m-1">
                            <h6>@ev.Name</h6>
                            <h6>@ev.Date.ToString(GlobalConstants.DefaultDateFormat) @ev.StartingHour.ToString(GlobalConstants.DefaultTimeFormat) - @ev.EndingHour.ToString(GlobalConstants.DefaultTimeFormat)</h6>
                            <h6>
                                @ev.ArenaRentalRequestStatus
                                <span><a asp-controller="ArenaRequests" asp-action="ChangeStatus" asp-route-id="@ev.ArenaRentalRequestId" class="btn-sm btn-warning">Details</a></span>
                            </h6>
                        </div>
                    </div>
                    }
                </div>
        <div >
            <h3 class="display-4">Not-approved</h3>
            <hr />
            @foreach (var ev in Model.NotApporvedEvents)
            {
                <div class="rounded color bg-danger mb-2 text-white p-1">
                        <div class="m-1">
                            <h6>@ev.Name</h6>
                            <h6>@ev.Date.ToString(GlobalConstants.DefaultDateFormat) @ev.StartingHour.ToString(GlobalConstants.DefaultTimeFormat) - @ev.EndingHour.ToString(GlobalConstants.DefaultTimeFormat)</h6>
                            <h6>
                                @ev.ArenaRentalRequestStatus
                                <span class="ml-2"><a asp-controller="ArenaRequests" asp-action="ChangeStatus" asp-route-id="@ev.ArenaRentalRequestId" class="btn-sm btn-warning">Details</a></span>
                            </h6>
                        </div>
                    </div>
                    }
                </div>
            </div>
