@model LetsSport.Web.ViewModels.Arenas.ArenaIndexListViewModel
@{
    this.ViewData["Title"] = "Arenas in town";
    var location = this.ViewData["location"];
}
<div class="row flex flex-wrap justify-content-around mb-3">
    <h3><span class="display-4 ">List of arenas in</span> <span class="text-uppercase text-danger"><strong>@location</strong></span></h3>
    <form class="row flex align-content-center" method="post" enctype="multipart/form-data">
        <span class="mr-2">
            <select asp-for="City" class="form-control" asp-items="@Model.Cities">
                <option value="">Select one...</option>
            </select>
            <span asp-validation-for="City" class="text-danger"></span>
        </span>
        <span ><input type="submit" class="btn btn-warning" asp-controller="Arenas" asp-action="ChangeCity" asp-route-id="@Model.City" value="Change City" /></span>
    </form>
</div>

<hr />

<div class="card-deck">

    @foreach (var arena in Model.Arenas)
    {
        <div class="card m-2" style="min-width: 14rem; max-width: 23%;">
            <div class="card-header">
                <a asp-controller="Arenas" asp-action="Details" asp-route-id="@arena.Id"><h5>@arena.Name</h5></a>
                <h5>@arena.SportName</h5>
                <h6>Price per hour: @arena.PricePerHour.ToString("F2")</h6>
                <h6>Orginized events: @arena.EventsCount</h6>
                <hr />
                <a asp-controller="Arenas" asp-action="Details" asp-route-id="@arena.Id">
                    <img class="card-img-top" src="@arena.MainImageUrl" alt="@arena.Name" />
                </a>
            </div>
        </div>
    }
</div>