@model LetsSport.Web.ViewModels.Arenas.MyArenaDetailsViewModel

@{
    ViewData["Title"] = "Arena Details";
}

<h3 class="display-4">@Model.Name Details</h3>
<hr />

<partial name="_ConfirmationMessagePartial" />

<div class="row justify-content-center">
    <div class="card-deck col-4">
        <div class="card">
            <div class="card-body">
                <h5>Rating: @Model.EventsCount</h5>
                <hr />
                <h4>@Model.Name</h4>
                <h5>@Model.CityName, @Model.CountryName</h5>
                <h5>@Model.Address</h5>
                <hr />
                <table>
                    <tr>
                        <td class="text-center"><i class="fas fa-desktop pr-1"></i></td>
                        <td><a href="https://@Model.WebUrl">@Model.WebUrl</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-phone-volume pr-1"></i></td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-envelope-open"></i></td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-volleyball-ball"></i></td>
                        <td>@Model.SportName</td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-money-bill-wave"></i></td>
                        <td>@Model.PricePerHour.ToString("F2")</td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-question"></i></td>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-info"></i></td>
                        <td>@Model.Description</td>
                    </tr>
                </table>
                <hr />
                <div class="text-center justify-content-around">
                    <a class="btn btn-warning" asp-controller="Arenas" asp-action="Edit">Edit Info</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Home</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck col-8">
        <div class="card">
            <div class="card-body text-center">
                <img class="card-main-img card-img-top m-2" src="@Model.MainImageUrl" asp-append-version="true" alt="@Model.Name" />
                <div class="container-md row mb-3 ml-0 mr-0">
                    @if (this.User.Identity.IsAuthenticated && this.Model.ArenaAdminId == this.Model.LoggedUserId)
                    {
                        <form asp-controller="Arenas" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="container-md row m-2">
                                <div class="col-sm ml-1 mr-1">
                                    <div class="custom-file">
                                        <input id="uploadBox" asp-for="NewMainImage" class="form-control custom-file-input">
                                        <label class="custom-file-label text-left">Choose File</label>
                                        <span asp-validation-for="NewMainImage" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm p-0">
                                    <input type="submit" class="btn btn-warning" asp-action="ChangeMainImage" value="Change Picture" />
                                </div>
                                <div class="col-sm p-0">
                                    <input type="submit" class="btn btn-warning" asp-action="DeleteMainImage" value="Delete Picture" />
                                </div>
                            </div>
                        </form>
                    }
                    <div class="container-md row ml-0 mr-0 justify-content-center">

                        <div class="m-2">
                            @foreach (var imgPath in Model.Pictures)
                            {
                                <img class="card-other-image" src="@imgPath" asp-append-version="true" alt="@Model.Name" />
                            }
                        </div>
                        @if (this.User.Identity.IsAuthenticated && this.Model.ArenaAdminId == this.Model.LoggedUserId)
                        {
                            if (this.Model.Pictures.Any())
                            {
                                <div class="col-sm mb-2">
                                    <a class="btn btn-warning" asp-controller="Arenas" asp-action="EditImages">Edit Pictures</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm mb-2">
                                    <a class="btn btn-warning" asp-controller="Arenas" asp-action="EditImages">Add Pictures</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


