@model LetsSport.Data.Models.EventModels.Event

@{
    ViewData["Title"] = "Delete Event";
}

<h2>Delete Event @Model.Name</h2>
<hr />
<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameFormat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameFormat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationInHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArenaRequestStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArenaRequestStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arena.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sport.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn-sm btn-danger mr-2" />
        <input type="submit" value="Back to List" class="btn-sm btn-primary" asp-action="Index" />
    </form>
</div>
