@model LetsSport.Web.ViewModels.Admin.Events.IndexViewModel
@{
    ViewData["Title"] = "Events";
}

<h2 class="display-4">Events in @Model.Location</h2>
<hr />

<p>
    <span><partial name="_FilterBarPartial" model="@Model.Filter" /></span>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Arena</th>
            <th>Sport</th>
            <th>Status</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model.Events)
        {
            <tr>
                <td>@ev.Name</td>
                <td>@ev.CountryName</td>
                <td>@ev.CityName</td>
                <td>@ev.ArenaName</td>
                <td>@ev.SportName</td>
                <td>@ev.Date.ToString(GlobalConstants.DefaultDateFormat)</td>
                <td>
                    <a class="btn-sm btn-info mr-2" asp-action="Details" asp-route-id="@ev.Id">Details</a>
                    <a class="btn-sm btn-warning mr-2" asp-action="Edit" asp-route-id="@ev.Id">Edit</a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@ev.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<span><partial name="_PagingNavPartial" /></span>
