@model LetsSport.Web.ViewModels.Shared.EventCardPartialViewModel

<div class="card m-2 box-shadow" style="min-width: 14rem; max-width: 23%;">
    <div class="card-header">
        <h5>@Model.SportName in @Model.CityName</h5>
        <a asp-controller="Arenas" asp-action="Details" asp-route-id="@Model.ArenaId"><h5>@Model.ArenaName</h5></a>
        <p class="m-0">
            @Model.Date.ToString(GlobalConstants.DefaultDateFormat) at
            <span>
                <time datetime="@Model.StartingHour.ToString("O")"></time>
            </span>
        </p>
        <label class="m-0" asp-for="@Model.EmptySpotsLeft"></label>
        <span>@Model.EmptySpotsLeft</span>
        <p>@Model.Status</p>
        <hr />
        <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Id">
            <img class="card-img-top" src="@Model.SportImage" alt="@Model.SportName" />
        </a>
    </div>
</div>