@model LetsSport.Web.ViewModels.Shared.FilterBarPartialViewModel

<div class="rounded overflow-hidden">

    <form class="filter-bar justify-content-lg-center align-items-baseline" asp-controller="Home" asp-action="Filter">
        <div>
            <span class="mr-2">
                <select asp-for="@Model.CityId" class="filter-events" asp-items="@Model.Cities">
                    <option value="">city</option>
                </select>
            </span>
            <span class="mr-2">
                <select asp-for="@Model.SportId" class="filter-events" asp-items="@Model.Sports">
                    <option value="">sport</option>
                </select>
            </span>
        </div>

        <div>
            <span>
                <input class="filter-events" asp-for="From" min="@DateTime.UtcNow.ToString(GlobalConstants.DefaultFilteringFieldDate)" />
            </span>
            <span>
                <input class="filter-events" asp-for="To" min="@DateTime.UtcNow.ToString(GlobalConstants.DefaultFilteringFieldDate)" />
            </span>
        </div>
        <div>
            <span>
                <input class="filter-events" formmethod="get" type="submit" asp-controller="Home" asp-action="Filter" value="Filter" />
            </span>
            <span>
                <a class="filter-events" asp-controller="Home" asp-action="Index">Clear</a>
            </span>
        </div>
    </form>
</div>
