@model LetsSport.Web.ViewModels.Shared.FilterBarPartialViewModel

<div style="border-radius:0.3rem; overflow:hidden;">

    <form class="filter-bar" style="align-items:baseline" asp-controller="Home" asp-action="Filter">
        <div>
            <span class="mr-2">
                @*// TODO refactor and use SelectListItem*@
                @*<select class="filter-events" name="City">
                    <option value="@Model.City">@Model.City</option>
                    @foreach (var city in @Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }
                </select>*@
                <select name="City" class="filter-events" asp-items="@Model.Cities">
                    <option value="">city</option>
                </select>
            </span>
            <span>
                @*<select class="filter-events" name="Sport">
                    <option value="@Model.Sport">@Model.Sport</option>
                    @foreach (var sport in @Model.Sports)
                    {
                        <option value="@sport">@sport</option>
                    }
                </select>*@
                <span class="mr-2">
                    <select asp-for="Sport" class="filter-events" asp-items="@Model.Sports">
                        <option value="">sport</option>
                    </select>
                </span>
            </span>
        </div>
        <div>
            <span>
                <input class="filter-events" asp-for="From" min="@DateTime.UtcNow.ToString(GlobalConstants.DefaultFilteringFieldDate)" />
            </span>
            <span>
                <input class="filter-events" asp-for="To" min="@DateTime.UtcNow.ToString(GlobalConstants.DefaultFilteringFieldDate)" />
            </span>
        </div>
        <div>
            <span>
                <input class="filter-events" formmethod="get" type="submit" asp-controller="@Model.Controller" asp-action=@Model.Action value="Filter" />
            </span>
            <span>
                <a class="filter-events" asp-controller="Home" asp-action="Index">Clear</a>
            </span>
        </div>
    </form>
</div>
