@model LetsSport.Web.ViewModels.Home.HomeEventsListViewModel
@{
    this.ViewData["Title"] = "Home Page";
    var currentLocation = this.ViewData["location"];
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <br />
        <h2 class="display-5 pb-1">Join sport events in: <span class="text-uppercase text-danger"><strong>@currentLocation</strong></span></h2>
    </div>
}

<partial name="_FilterBarPartial" model="@Model.Partial" />

<div class="card-deck">
    @foreach (var game in Model.Events)
    {
        <div class="card m-3 box-shadow" style="min-width: 14rem; max-width: 23%;">
            <div class="card-header">
                <h4>@game.SportName in @game.ArenaAddressCityName</h4>
                <a asp-controller="Arenas" asp-action="Details" asp-route-id="@game.ArenaId"><h5>@game.ArenaName</h5></a>
                <p class="m-0">@game.Date</p>
                <label for="emptySpots" class="control-label m-0">Empty Spots: </label>
                <span id="emptySpots">@game.EmptySpotsLeft</span>
                <p>@game.Status</p>
                <hr />
                <a asp-controller="events" asp-action="details" asp-route-id="@game.Id">
                    <img class="card-img-top" src="@game.SportImage" alt="@game.SportName" />
                </a>
            </div>
        </div>
    }
</div>