@model LetsSport.Web.ViewModels.Home.HomeIndexLoggedEventsListViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<h2>Join more events</h2>
@if (this.User.Identity.IsAuthenticated)
{
    <hr />
    <div style="border-radius:0.3rem; overflow:hidden;">

        <form class="form-horizontal" style="align-items:baseline" enctype="multipart/form-data" >
            <div>
                <span class="mr-2">
                    @*TODO refactor and use SelectListItem*@
                    <select class="filter-events" name="City">
                        <option value="@Model.City">@Model.City</option>
                        @foreach (var city in @Model.Cities)
                        {
                            <option value="@city">@city</option>
                        }
                    </select>
                </span>
                <span>
                    <select class="filter-events" name="Sport">
                        <option value="@Model.Sport">@Model.Sport</option>
                        @foreach (var sport in @Model.Sports)
                        {
                            <option value="@sport">@sport</option>
                        }
                    </select>
                </span>
            </div>
            <div>
                <span>
                    <input class="filter-events" asp-for="From" min="@DateTime.UtcNow.ToString(GlobalConstants.DefaultFilteringFieldDate)" />
                </span>
                <span>
                    <input class="filter-events" asp-for="To" min="@DateTime.UtcNow.ToString(GlobalConstants.DefaultFilteringFieldDate)" />
                </span>
            </div>
            <div>
                <span>
                    <input class="filter-events" type="submit" asp-controller="Home" asp-action="FilterLogged" value="Filter" />
                </span>
                <span>
                    <a class="filter-events" asp-controller="Home" asp-action="IndexLoggedIn">Clear</a>
                </span>
            </div>
        </form>
    </div>
    <div class="card-deck mt-2">
        @foreach (var game in Model.NotParticipatingEvents)
        {
            <div class="card m-2" style="min-width: 14rem; max-width: 23%;">
                <div class="card-header">
                    <h4>@game.SportName in @game.ArenaAddressCityName</h4>
                    <a asp-controller="Arenas" asp-action="Details" asp-route-id="@game.ArenaId"><h5>@game.ArenaName</h5></a>
                    <p class="m-0">@game.Date</p>
                    <label for="emptySpots" class="control-label m-0">Empty Spots: </label>
                    <span id="emptySpots">@game.EmptySpotsLeft</span>
                    <p class="m-0">@game.Status</p>
                    <hr />
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@game.Id">
                        <img class="card-img-top" src="@game.SportImage" alt="@game.SportName" />
                    </a>
                </div>
            </div>
        }
    </div>
}
