@model LetsSport.Web.ViewModels.Home.HomeIndexLoggedEventsListViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    @if (!Model.ParticipatingEvents.Any())
    {
        <h2 class="text-center mb-2">You did't joined any events yet!</h2>
    }
    else
    {
        <h3>My upcoming joined events:</h3>
        <div class="card-deck">

            @foreach (var game in Model.ParticipatingEvents)
            {
                <div class="card m-2" style="min-width: 14rem; max-width: 23%;">
                    <div class="card-header">
                        <h5>@game.SportName in @game.ArenaAddressCityName</h5>
                        <a asp-controller="Arenas" asp-action="Details" asp-route-id="@game.ArenaId"><h5>@game.ArenaName</h5></a>
                        <p class="m-0">@game.Date</p>
                        <label for="emptySpots" class="control-label m-0">Empty Spots: </label>
                        <span id="emptySpots">@game.EmptySpotsLeft</span>
                        <hr />
                        <a asp-controller="Events" asp-action="Details" asp-route-id="@game.Id">
                            <img class="card-img-top" src="@game.SportImage" alt="Alternate Text" />
                        </a>
                    </div>
                </div>
            }
        </div>
    }

    <hr />
    <div style="border-radius:0.3rem; overflow:hidden;">

        <form class="form-horizontal" style="align-items:baseline" asp-controller="Home" asp-action="Filter">
            <div>
                <span class="mr-2">
                    <select class="filter-events" name="City">
                        <option value="@Model.City">@Model.City</option>
                        @foreach (var city in @Model.Cities)
                        {
                            <option value="@city">@city</option>
                        }
                    </select>
                </span>
                <span>
                    <select class="filter-events" name="Sport">
                        <option value="@Model.Sport">@Model.Sport</option>
                        @foreach (var sport in @Model.Sports)
                        {
                            <option value="@sport">@sport</option>
                        }
                    </select>
                </span>
            </div>
            <div>
                <span>
                    <input class="filter-events" asp-for="From" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
                </span>
                <span>
                    <input class="filter-events" asp-for="To" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
                </span>
            </div>
            <div>
                <span>
                    <input class="filter-events" type="submit" asp-controller="Home" asp-action="Filter" value="Filter" formmethod="post" />
                </span>
                <span>
                    <a class="filter-events" asp-controller="Home" asp-action="Index">Clear</a>
                </span>
            </div>
        </form>
    </div>
    <div class="card-deck mt-2">
        @foreach (var game in Model.NotParticipatingEvents)
        {
            <div class="card m-2" style="min-width: 14rem; max-width: 23%;">
                <div class="card-header">
                    <h5>@game.SportName in @game.ArenaAddressCityName</h5>
                    <a asp-controller="Arenas" asp-action="Details" asp-route-id="@game.ArenaId"><h5>@game.ArenaName</h5></a>
                    <p class="m-0">@game.Date</p>
                    <label for="emptySpots" class="control-label m-0">Empty Spots: </label>
                    <span id="emptySpots">@game.EmptySpotsLeft</span>
                    <hr />
                    <a asp-controller="events" asp-action="details" asp-route-id="@game.Id">
                        <img class="card-img-top" src="@game.SportImage" alt="Alternate Text" />
                    </a>
                </div>
            </div>
        }
    </div>
}
