@model LetsSport.Web.ViewModels.Events.EventsAllDetailsViewModel
@using LetsSport.Common
@{
    this.ViewData["Title"] = "Home Page";
    var currentLocation = this.ViewData["location"];
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <br />
    <h2 class="display-5 pb-1">Join sport events in: <strong><span class="text-uppercase text-danger">@currentLocation</span></strong></h2>
</div>
<form class="form-horizontal" style="align-items:baseline" asp-controller="Home" asp-action="Filter">
    <h1>@this.TempData["City"]</h1>
    <h1>@this.TempData["Country"]</h1>
    <span>
        <select class="filter-events" name="City">
            <option value="">city</option>
            @foreach (var city in @Model.Cities)
            {
                <option value="@city">@city</option>
            }
        </select>
    </span>
    <span>
        <select class="filter-events" name="Sport" @*asp-for="Sport" asp-items="Html.GetEnumSelectList<SportType>()*@>
            <option value="">sport</option>
            @foreach (var sport in @Model.Sports)
            {
                <option value="@sport">@sport</option>
            }
        </select>
    </span>
    <span>
        <input class="filter-events" asp-for="From" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" placeholder="from" />
    </span>
    <span>
        <input class="filter-events" asp-for="To" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" placeholder="to" />
    </span>
    <span>
        <input class="filter-events" type="submit" value="Filter" formmethod="post" />
    </span>
    <span>
        <a class="filter-events" asp-controller="Home" asp-action="Index">Clear</a>
    </span>
</form>
<div class="card-deck">
    @foreach (var game in Model.AllEvents)
    {
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header">
                <h4>@game.Arena</h4>
                <h5>@game.Sport</h5>
                <p>@game.Date</p>
                <label for="emptySpots" class="control-label">Empty Spots: </label>
                <span id="emptySpots">@game.EmptySpotsLeft</span>
                <hr />
                <a asp-controller="events" asp-action="details" asp-route-id="@game.Id">
                    <img class="card-img-top" src="@game.ImgUrl" alt="Alternate Text" />
                </a>
            </div>
        </div>
    }
</div>
