@model LetsSport.Web.ViewModels.Admin.Sports.IndexListViewModel
@using LetsSport.Common

@{
    ViewData["Title"] = "Sports";
}

<h2 class="display-4">Sports</h2>
<hr />

<div class="mb-4">
    <a class="btn-sm btn-primary" asp-action="Create">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Sports)
        {
            <tr>
                <td>@item.Name</td>
                <td><img src="@item.Image" class="rounded-sm" alt="@item.Name" style="width:160px;" /></td>
                <td><time datetime="@item.CreatedOn.ToString("O")">@item.CreatedOn.ToString(GlobalConstants.DefaultDateFormat)</time></td>
                @if (item.ModifiedOn.HasValue)
                {
                    <td>
                        <time datetime="@item.ModifiedOn.Value.ToString("O")">@item.ModifiedOn.Value.ToString(GlobalConstants.DefaultDateFormat)</time>
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <a class="btn-sm btn-warning mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PagesCount > 1)
{
    <span><partial name="_PagingNavPartial" /></span>
}
