@model LetsSport.Web.ViewModels.Admin.Cities.IndexViewModel

@{
    ViewData["Title"] = "Cities";
}

<h2 class="display-4">Cities in @Model.Location</h2>
<hr />

<div class="mb-4">
    <a class="btn-sm btn-primary" asp-action="Create" asp-route-countryId="@Model.CountryId">Create New</a>
</div>

<span><partial name="_CitiesFilterBarPartial" model="@Model.Filter" /></span>

<input type="hidden" asp-for="CountryId" />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>IsDeleted</th>
            <th>DeletedOn</th>
            <th>CreatedOn</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cities)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CountryName</td>
                <td>@item.IsDeleted</td>
                <td>@item.DeletedOn</td>
                <td>@item.CreatedOn</td>
                <td>
                    <a class="btn-sm btn-warning mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PagesCount > 1)
{
    <span><partial name="_PagingNavPartial" /></span>
}

