@model LetsSport.Web.ViewModels.ChatRoomViewModel
@{
    var userName = this.User.Identity.Name.Substring(0, this.User.Identity.Name.IndexOf('@'));
}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card chat-card">
                <div class="chat-card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="~/images/avatar_NoImage.png" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>@Model.EventName Chat Room</span>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body">
                    @foreach (var message in Model.Messages)
                    {
                        if (message.Sender == userName)
                        {
                            <div class="d-flex justify-content-start mb-3">
                                <div class="img_cont_msg">
                                    <img src="~/images/avatar_NoImage.png" class="rounded-circle user_img_msg">
                                    <div class="img_cont_msg">@message.Sender</div>
                                </div>
                                <div class="msg_cotainer">
                                    @message.Text
                                    <span class="msg_time">@message.CreatedOn</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-end mb-3">
                                <div class="msg_cotainer_send">
                                    @message.Text
                                    <span class="msg_time_send">@message.CreatedOn</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/images/avatar_NoImage.png" class="rounded-circle user_img_msg">
                                    <div class="img_cont_msg">@message.Sender</div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <form asp-action="Text">
                            <div class="input-group-append">
                                <textarea asp-for="Text" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                <input class="input-group-text send_btn" type="submit" value="Send" asp-route-id="@Model.Id" asp-controller="ChatRooms" asp-action="ChatRoom" formmethod="post" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
