@model LetsSport.Web.ViewModels.Admin.Arenas.DetailsViewModel

@{
    ViewData["Title"] = "Arena Details";
}

<h2 class="display-4">Arena @Model.Name Details</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">Name: </dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Sport: </dt>
        <dd class="col-sm-10">@Model.SportName</dd>
        <dt class="col-sm-2">Country: </dt>
        <dd class="col-sm-10">@Model.CountryName</dd>
        <dt class="col-sm-2">Arena Admin: </dt>
        <dd class="col-sm-10">@Model.AdminName</dd>
        <dt class="col-sm-2">City: </dt>
        <dd class="col-sm-10">@Model.CityName</dd>
        <dt class="col-sm-2">Address: </dt>
        <dd class="col-sm-10">@Model.Address</dd>
        <dt class="col-sm-2">Phone Number: </dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>
        <dt class="col-sm-2">Web-Url: </dt>
        <dd class="col-sm-10">@Model.WebUrl</dd>
        <dt class="col-sm-2">Email: </dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Price Per Hour: </dt>
        <dd class="col-sm-10">@Model.PricePerHour</dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
        <dt class="col-sm-2">Description: </dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Is Deleted: </dt>
        <dd class="col-sm-10">@Model.IsDeleted</dd>
        <dt class="col-sm-2">Created On: </dt>
        <dd class="col-sm-10">@Model.CreatedOn</dd>
        @if (Model.ModifiedOn.HasValue)
        {
            <dt class="col-sm-2">Modified On: </dt>
            <dd class="col-sm-10">@Model.ModifiedOn</dd>
        }
        <dt class="col-sm-2">Main Image: </dt>
        <dd class="col-sm-10">@Model.MainImageUrl</dd>
        @if (Model.ImagesUrls.Any())
        {
            @for (int i = 0; i < Model.ImagesUrls.Count; i++)
            {
                <dt class="col-sm-2">Image @(i+1): </dt>
                <dd class="col-sm-10">@Model.ImagesUrls[i]</dd>
            }
        }

    </dl>
</div>
<div>
    <a class="btn-sm btn-warning mr-2" asp-area="Administration" asp-controller="Are nas" asp-action="Edit">Edit</a>
    <a class="btn-sm btn-primary" asp-area="Administration" asp-controller="Arenas" asp-action="Index" >Back to List</a>
</div>
