@model LetsSport.Web.ViewModels.Admin.Arenas.IndexViewModel

@{
    ViewData["Title"] = "Arenas";
}

<h2 class="display-4">Arenas</h2>

<p>
    <span><partial name="_ArenasFilterBarPartial" model="@Model.Filter" /></span>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Sport</th>
            <th>IsDeleted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Arenas)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CountryName</td>
                <td>@item.CityName</td>
                <td>@item.SportName</td>
                <td>@item.IsDeleted</td>
                <td>
                    <a class="btn-sm btn-info mr-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn-sm btn-warning mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
