@model LetsSport.Web.ViewModels.Admin.Arenas.IndexViewModel

@{
    ViewData["Title"] = "Arenas";
}

<h2 class="display-4">Arenas in @Model.Location</h2>
<hr />

<p>
    <span><partial name="_FilterBarPartial" model="@Model.Filter" /></span>
</p>

<input type="hidden" asp-for="@Model.CountryId" />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Sport</th>
            <th>IsDeleted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arena in Model.Arenas)
        {
            <tr>
                <td>@arena.Name</td>
                <td>@arena.CountryName</td>
                <td>@arena.CityName</td>
                <td>@arena.SportName</td>
                <td>@arena.IsDeleted</td>
                <td>
                    <a class="btn-sm btn-info mr-2" asp-action="Details" asp-route-id="@arena.Id">Details</a>
                    <a class="btn-sm btn-warning mr-2" asp-action="Edit" asp-route-id="@arena.Id">Edit</a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@arena.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<span><partial name="_PagingNavPartial" /></span>
