@model LetsSport.Web.ViewModels.Users.UserDetailsViewModel
@inject UserManager<ApplicationUser> UserManager
@using LetsSport.Data.Models
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "User Details";
    var userId = this.UserManager.GetUserId(this.User);
}

<h2 class="text-center">@this.ViewData["Title"]</h2>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body text-center">
                <h4>@Model.FullName</h4>
                <img class="card-img-top" src="@Model.AvatarUrl" asp-append-version="true" style="min-width: 12rem; max-width: 15rem;" />
                <div class="m-1">
                    <div>
                        <label asp-for="@Model.SportName"></label>
                        <span class="h5">@Model.SportName</strong></span>
                    </div>
                    <div>
                        <label asp-for="@Model.Location"></label>
                        <span class="h5">@Model.Location</strong></span>
                    </div>
                    <div>
                        <label asp-for="@Model.Gender"></label>
                        <span class="h5">@Model.Gender</strong></span>
                    </div>
                    <div>
                        <label asp-for="@Model.PhoneNumber"></label>
                        <span class="h5">@Model.PhoneNumber</strong></span>
                    </div>
                    <div>
                        <label asp-for="@Model.FaceBookAccount"></label>
                        <span class="h5"><a href="@Model.FaceBookAccount">@Model.FaceBookAccount</a></strong></span>
                    </div>
                    <div>
                        <label asp-for="@Model.Status"></label>
                        <span class="h5">@Model.Status</strong></span>
                    </div>
                    <div>
                        <label asp-for="@Model.OrginizedEventsCount"></label>
                        <span class="h5">@Model.OrginizedEventsCount</strong></span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-warning" asp-controller="Users" asp-action="ReportUser">Report User</a>
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Home Page</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>

    <script>
        var chaneBtn = document.getElementById("changeBtn");
        var nme = document.getElementById("uploadBox");

        chaneBtn.addEventListener("onclick", () => {
            if (nme.value.length < 4) {
                alert('Must Select any of your photo for upload!');
                nme.focus();
                return false;
            }
        })
    </script>
}