@model LetsSport.Web.ViewModels.Users.UserDetailsViewModel
@inject UserManager<ApplicationUser> UserManager
@using LetsSport.Data.Models
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "User Details";
    var userId = this.UserManager.GetUserId(this.User);
}

<h2 class="text-center">User Details</h2>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body text-center">
                <h5>@Model.FullName</h5>
                <img class="card-img-top" src="@Model.AvatarUrl" asp-append-version="true" style="min-width: 12rem; max-width: 15rem;" />
                <form asp-controller="Users" enctype="multipart/form-data" class="m-3">
                    <div class="container">
                        <div class="row">
                            @if (userId == Model.Id)
                            {
                                <div class="col-sm">
                                    <div class="custom-file">
                                        @*<input type="hidden" asp-for="@Model.Id" value="@Model.Id" />*@
                                        <input id="uploadBox" asp-for="NewAvatarImage" class="form-control custom-file-input">
                                        <label style="text-align:left" class="custom-file-label">Choose File...</label>
                                    </div>
                                </div>
                                <div class="col-sm p-0">
                                    <input id="changeBtn" type="submit" asp-action="ChangeAvatar" asp-route-id="@Model.Id" class="btn btn-warning" value="Change Picture" />
                                </div>

                                <div class="col-sm p-0">
                                    <input type="submit" asp-action="DeleteAvatar" asp-route-id="@Model.Id" class="btn btn-warning" value="Delete Picture" />
                                </div>
                            }
                        </div>
                    </div>
                </form>
                <div class="m-1">
                    <h5>Favorite Sport : @Model.SportName</h5>
                    <h5>Location : @Model.Location</h5>
                    <h5>Age: @Model.Age, Gender: @Model.Gender</h5>
                    <h5>Phone number: @Model.PhoneNumber</h5>
                    <h5>Facebook: <a href="@Model.FaceBookAccount">@Model.FaceBookAccount</a></h5>
                    <h5>Current Status: @Model.Status</h5>
                    <h5>Organized Events: @Model.OrginizedEventsCount</h5>
                </div>
            </div>
            <div class="card-footer text-center">
                @if (userId == Model.Id)
                {
                    <a class="btn btn-warning" asp-controller="users" asp-action="Edit" asp-route-id="@Model.Id">Edit  Profile</a>

                    <a class="btn btn-warning" asp-area="Identity" asp-controller="Account" asp-action="Manage">Account Settings</a>
                }
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Home Page</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>

    <script>
        //if (document.getElementById("uploadBox").value == "") {

        //}

        var chaneBtn = document.getElementById("changeBtn");
        var nme = document.getElementById("uploadBox");

        chaneBtn.addEventListener("onclick", () => {
            if (nme.value.length < 4) {
                alert('Must Select any of your photo for upload!');
                nme.focus();
                return false;
            }
        })
    </script>
}