@model LetsSport.Web.ViewModels.Users.UserUpdateInputModel;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Update Profile";
}

<h3 class="display-4">@this.ViewData["Title"]</h3>
<hr />

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-5 mb-2">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" readonly/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="Gender" class="control-label"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                <option value="">Select one...</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="SportId" class="control-label"></label>
            <select asp-for="SportId" class="form-control" asp-items="@Model.Sports">
                <option value="">Select one...</option>
            </select>
            <span asp-validation-for="SportId" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<UserStatus>()" class="form-control">
                <option value="">Select one...</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="CountryId" class="control-label"></label>
            <select asp-for="CountryId" class="form-control" asp-items="@Model.Countries">
                <option value="">CountryId</option>
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="CityId" class="control-label"></label>
            <select asp-for="CityId" class="form-control" asp-items="@Model.Cities">
                <option value="">CityId</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="FaceBookAccount" class="control-label"></label>
            <input asp-for="FaceBookAccount" class="form-control" />
            <span asp-validation-for="FaceBookAccount" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" min="0" max="150" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="col-5 mb-2">
            <label asp-for="Occupation" class="control-label"></label>
            <input asp-for="Occupation" class="form-control" />
            <span asp-validation-for="Occupation" class="text-danger"></span>
        </div>
        @if (Model.IsUserProfileUpdated == false)
        {
            <div class="col-5 mb-2">
                <label asp-for="AvatarImage" class="control-label"></label>
                <div class="col-sm-12">
                    <input asp-for="AvatarImage" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
        }

        <div class="col-5 d-flex align-items-center justify-content-md-center mt-3">
            <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
            <input type="submit" class="btn btn-warning m-2" asp-controller="Users" asp-action="Edit" value="Update Profile" />
            <input type="button" class="btn btn-warning m-2" value="Cancel" onclick="location.href='@Url.Action("Index","Users")';" />

        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
