@model LetsSport.Web.ViewModels.Users.UserMyDetailsViewModel

@{
    ViewData["Title"] = "User Details";
}

<h2>@this.ViewData["Title"]</h2>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body text-center">
                <h4>@Model.FullName</h4>
                <img class="card-img-top" src="@Model.AvatarUrl" asp-append-version="true" style="min-width: 12rem; max-width: 15rem;" alt="User Avatar"/>
                <form enctype="multipart/form-data" class="m-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="custom-file">
                                    <input id="uploadBox" asp-for="NewAvatarImage" class="form-control custom-file-input">
                                    <label style="text-align:left" class="custom-file-label">Choose File...</label>
                                </div>
                            </div>
                            <div class="col-sm p-0">
                                <input id="changeBtn" type="submit" asp-action="ChangeAvatar" asp-route-id="@Model.Id" class="btn btn-warning" value="Change Picture" />
                            </div>

                            <div class="col-sm p-0">
                                <input type="submit" asp-action="DeleteAvatar" asp-route-id="@Model.Id" class="btn btn-warning" value="Delete Picture" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="m-1">
                    <div>
                        <label asp-for="@Model.SportName"></label>
                        <span class="h5">@Model.SportName</span>
                    </div>
                    <div>
                        <label asp-for="@Model.Location"></label>
                        <span class="h5">@Model.Location</span>
                    </div>
                    <div>
                        <label asp-for="@Model.Gender"></label>
                        <span class="h5">@Model.Gender</span>
                    </div>
                    <div>
                        <label asp-for="@Model.PhoneNumber"></label>
                        <span class="h5">@Model.PhoneNumber</span>
                    </div>
                    <div>
                        <label asp-for="@Model.FaceBookAccount"></label>
                        <span class="h5"><a href="@Model.FaceBookAccount">@Model.FaceBookAccount</a></span>
                    </div>
                    <div>
                        <label asp-for="@Model.Status"></label>
                        <span class="h5">@Model.Status</span>
                    </div>
                    <div>
                        <label asp-for="@Model.OrginizedEventsCount"></label>
                        <span class="h5">@Model.OrginizedEventsCount</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-warning" asp-controller="users" asp-action="Edit" asp-route-id="@Model.Id">Edit  Profile</a>
                <a class="btn btn-warning" asp-area="Identity" asp-controller="Account" asp-action="Manage">Account Settings</a>
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Home Page</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>

    <script>
        var chaneBtn = document.getElementById("changeBtn");
        var nme = document.getElementById("uploadBox");

        chaneBtn.addEventListener("onclick", () => {
            if (nme.value.length < 4) {
                alert('Must Select any of your photo for upload!');
                nme.focus();
                return false;
            }
        })
    </script>
}