<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route="paging"
                   asp-route-countryId="@this.Model.CountryId"
                   asp-route-cityId="@this.Model.CityId"
                   asp-route-sportId="@this.Model.SportId"
                   asp-route-isDeleted="@this.Model.IsDeleted"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route="paging"
                   asp-route-countryId="@this.Model.CountryId"
                   asp-route-cityId="@this.Model.CityId"
                   asp-route-sportId="@this.Model.SportId"
                   asp-route-isDeleted="@this.Model.IsDeleted"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>